div {
    width: 100%;
}

input {
    text-align: right;
    font-size: 100%;
    width: 100%;
}


td {
    cursor: pointer;
}

.sign {
    width: 40px;
}

.number {
    width: 100%;
}

.minus {
    color: green;
    
}

.plus {
    color: blue;
  
}