<!-- <div dir="ltr">
   <td class="sign" (click)="onSignClicked()"><span [class] = "(minus)?'minus':'plus'">{{sign}}</span></td>
   <td class="number"><input [class] = "(minus)?'minus':'plus'" [(ngModel)]="value" (keypress)="onKeyPress($event)"></td>
</div> -->

<div id="value-input" [class.positive] = "!minus">
    <div class="switch" (click)="onSignClicked()">
        <div class="switch-front">
            <span class="positive-text">+</span>
            <span class="negetive-text">-</span>
        </div>
    </div>
    <div>
        <span id="currency-symbol" style="padding-top: 8px; margin-left: 3px;">&#8362; <!--Sheqel sign--></span>
        <input type="text" [(ngModel)]="value" inputmode="numeric" (keypress)="onKeyPress($event);" (focus)="onFocus()" (focusout)="onFocusOut()">
    </div>
</div>