<!--app header-->
<div class="top-bar">
  Wallet Tracker
</div>
<!--application table-->
<app-wallet-table class="content"
                  *ngIf="true"
                  (addNew)="onAddNew($event)"
                  (edit)="onEdit($event)"
                  [addTransaction]="transactionToAdd"
                  [updateTransaction]="transactionToUpdate"
                  [canEdit]="!showEditComponent"></app-wallet-table>

<wallet-action *ngIf="showEditComponent"
               [initTransaction]="initTransaction"
               [isNew]="isNew"
               (save)="onTransactionSaved($event)"
               (cancel)="onEditCancel()"></wallet-action> <!--remove display none to display wallat-action-->

<!--Add new button-->
<a class="add-button"
   routerLink="/new"> <!--put here dispaly: none, before dispalying the "wallet-action" part.-->
  הוסף
</a>
