@import '../../styles/colors';

:host {
  height: 100vh;
  display: grid;
  grid-template-rows: 57px calc(100vh - 114px) 57px;
}

.top-bar{
  background-color: $primary-color;
  color: $white-text-color;
  padding: 15px 30px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 8px;
}

.content {
  overflow: auto;
}

.add-button {
  background-color: $success-color;
  color: $white-text-color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
