<div id="container">
    <!--app header-->
    <div id="header" class="banner">
        Wallet Tracker
    </div>
    
    <!--application table-->
    <div id="content">
        <app-wallet-table></app-wallet-table>
    </div>
    
    <!--To do: wallet-action-->
    <!--Note only one of the two "add banner" and "walle-action" should be visible at the same time-->
    <wallet-action style="display: none;"></wallet-action> <!--remove display none to display wallat-action-->

    <!--Add new button-->
    <a href="/new" style="display: "> <!--put here dispaly: none, before dispalying the "wallet-action" part.-->
    <div id="add" class="banner">
        הוסף
    </div>
    </a>
</div>

