<!--app header-->
<div class="top-bar h-ltr">
    Wallet Tracker
    <a href="/login" class="link">{{loginName}}</a>
</div>
<!--TODO: think of better implementation for this-->
<div style="display: flex; flex-direction: column-reverse">
    <div *ngIf="transactionEditor.showEditor$ | async">
        <wallet-action [isNew]="isNew"
                       (save)="onTransactionSaved($event)"></wallet-action>

    </div>
    <div class="h-scroll-content"
         scrollToBottom>
        <app-wallet-table></app-wallet-table>
    </div>
</div>