<!--app header-->
<div class="top-bar h-ltr">
    Wallet Tracker
</div>
<!--TODO: think of better implementation for this-->
<div style="display: flex; flex-direction: column-reverse">
    <div *ngIf="transactionEditor.showEditor$ | async">
        <wallet-action [initTransaction]="initTransaction"
                       [isNew]="isNew"
                       (save)="onTransactionSaved($event)"
                       (cancel)="onEditCancel()"></wallet-action>

    </div>
    <div class="h-scroll-content">
        <wallet-table></wallet-table>
    </div>
</div>
<!-- Buttons-->
<actions-buttons></actions-buttons>
