ul{
    margin: 0;
    list-style-type: none;
    padding: 0;

    li{
        display: grid;
        grid-template-columns: 70px auto;
        padding: 10px 15px;
        border-bottom: #d0d0d0 2px solid;

        span{
            display: block;
        }
        span.title, span.date{
            text-align: right;
            direction: rtl;
        }
        span.date{
            font-size: 18px;
        }
        span.title{
            font-size: 22px;
            margin-bottom: 5px;
            font-weight: 500;
        }
        span.sum{
            font-size: 25px;
            color: #d33c2d;
        }
        span.sum.positive{
            color: #007236;
        }
    }
}