<div dir="rtl">
    <tr>
        <td>תאריך</td>        
        <td>תוכן</td>
        <td>סכום</td>
        <td>יתרה</td>
    </tr>
    <tr>
      <td dir="ltr">31/08/2018</td>
      <td>יתרה קודמת</td>
      <td dir="ltr">+184.2</td>
      <td dir="ltr">184.2</td>
    </tr>
    <tr>
      <td dir="ltr">01/09/2018</td>
      <td>לגנדה גלי</td>
      <td dir="ltr">-28.0</td>
      <td dir="ltr">156.2</td>
    </tr>
    <tr>
      <td dir="ltr">02/09/2018</td>
      <td>צהריים גלי</td>
      <td dir="ltr">-50.0</td>
      <td dir="ltr">106.2</td>
  </tr>
</div>

