#wallet-action{
    background-color: #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 8px;



    .row{
        display: grid;
        grid-template-columns: 100px auto;
        padding: 20px 10px;
        margin: 0 10px;
        text-align: right;
        direction: rtl;
        border-bottom: #e1e1e1 3px solid;

        .label{
            font-weight: bold;
            font-size: 25px;
            margin-top: -3px;
        }


    }

    #buttons{
        display: grid;
        grid-template-columns: auto auto;
        direction: rtl;

        button{
            color: #ebebeb;
            border: none;
            padding: 12px;
            font-size: 22px;
        }
        button:focus{
            outline-width: 0;
        }
        button.save{
            background-color: #00a651;
        }
        button.save:focus{
            background-color: #008c44;
        }
        button.cancel{
            background-color: #636363;
        }
        button.cancel:focus{
            background-color: #5b5b5b;
        }

    }
}